@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

// Import theme CSS files dynamically
// These will be loaded by ThemeService
