<lib-top-nav
  [user]="currentUser()"
  (logoClicked)="navigateToDashboard()"
  (notificationClicked)="onNotificationClicked()"
  (settingsClicked)="onSettingsClicked()"
  (logoutClicked)="onLogout()"
  (rolesChanged)="onRolesChanged($event)"
></lib-top-nav>

<lib-notifications-panel></lib-notifications-panel>
<lib-settings-modal></lib-settings-modal>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened class="menu-sidenav">
    <lib-menu-bar
      [userName]="currentUser()?.userName || ''"
      [businessUnit]="currentUser()?.currentBusinessUnit || ''"
      [roleCodes]="selectedRoleCodes()"
      (taskSelected)="onTaskSelected($event)"
      (taskFavorited)="onTaskFavorited($event)"
    ></lib-menu-bar>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <div class="container-fluid p-3">
      <lib-tab-manager [maxTabs]="5"></lib-tab-manager>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

